/* figure.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
} */

p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}